@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-ExtraLight.woff2) format("woff2");
    font-weight: 200
}

@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-Light.woff2) format("woff2");
    font-weight: 300
}

@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-Regular.woff2) format("woff2");
    font-weight: 400
}

@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-Medium.woff2) format("woff2");
    font-weight: 500
}

@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-SemiBold.woff2) format("woff2");
    font-weight: 600
}

@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-Bold.woff2) format("woff2");
    font-weight: 700
}

@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-ExtraBold.woff2) format("woff2");
    font-weight: 800
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Manrope", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: -moz-linear-gradient(345deg, rgb(255, 98, 0, 1) 0%, rgba(59, 0, 255, 0.81) 49%, rgba(255, 205, 66, 1) 100%);
    background: -webkit-linear-gradient(345deg, rgba(255, 98, 0, 1) 0%, rgba(59, 0, 255, 0.81) 49%, rgba(255, 205, 66, 1) 100%);
    background: -o-linear-gradient(345deg, rgba(255, 98, 0, 1) 0%, rgba(59, 0, 255, 0.81) 49%, rgba(255, 205, 66, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff81', endColorstr='#ffcd42', GradientType=1);
    background: -ms-linear-gradient(345deg, rgba(255, 98, 0, 1) 0%, rgba(59, 0, 255, 0.81) 49%, rgba(255, 205, 66, 1) 100%);
    background: linear-gradient(345deg, rgba(255, 98, 0, 1) 0%, rgba(59, 0, 255, 0.81) 49%, rgba(255, 205, 66, 1) 100%);
    background-size: auto 100%;
    background-attachment: fixed;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
